*{
    font-family: 'Nunito', sans-serif;
}



.hero{
    background-color: #EAAA67;
    min-height: 30rem;
    color: #fff;
    h1{
        font-weight:  bolder;
    }
    nav{   
        z-index: 77;
        position: relative; 
        left: 0%;
        width: 100%;
    
            .navbar-toggler{
                color: white;
                background-color: #EAAA67;
                border-color: #fff;
            }
            .navbar-brand {
                color: black;
            }
            .nav-link{
                color: black!important;
            }
        #navbarSupportedContent{
            @media(max-width:767.98px){
            z-index: 77;
            position: absolute;
            left: 0;
            top: 55px;
            width: 100%;
            padding: 1rem;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
            }  
        }
    }
}

.container{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.container-fluid{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.hero-cake{
    background-image: url(../img/hero_tort.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16rem;
    height: 16rem;
    border-radius: 8rem .8rem 8rem .8rem;
}

.icon-container{
    .icon-bg-s{
        width: 10rem;
        height: 10rem;
        border-radius: 5rem .5rem 5rem .5rem;
        background-color: #fff;
        padding: 3rem;
    }
}
.round{
    border-radius: 10% 10%;
}

.circle{
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1rem solid rgba(255, 194, 131, 0.5);
    box-shadow: 0 0 0 2px #EAAA67;
    z-index: 77;
    bottom: 93%;
    @media(max-width: 411px){
        left: 40%;
    }
    @media(min-width:412px)and(max-width:767.98px){
        left: 43%;
    }
    @media(min-width: 768px){
        left: 40%;
    }
}

.hr-orange{
    height: .3rem;
    background-color: #EAAA67;
}

.border-r{
    @media (max-width: 767.98px){
        border-bottom: 1px dashed orange;
    }
    @media (min-width: 768px){
        border-right: 1px dashed orange;
    }
    
    .circle{
        color: green;
        text-align: center;
        padding-top: 3px;
        @media (max-width:767.98px){
            top: 12%;
            left: 40%; 
        }

        @media(min-width:768px)and(max-width:991.98px){
            top: 33%;
            left: 58%;
        }
        @media(min-width: 992px){
            top: 33%;
            left: 67%;
        }
    }
}
.border-l{
    @media (max-width: 767.98px){
        border-top: 1px dashed #EAAA67;
    }
    @media (min-width: 768px){
        border-left: 1px dashed #EAAA67;
    }
}
.ivory{
    background-color: #FFDFBE;
}
.sky{
    background-color: #83DFFF;
}

.cake{
    width: 18rem;
    height: 18rem;
    border-radius: 50% 5% 50% 5%;
    overflow: hidden;
    background-color: #fff;
    .bg-cake{
        background-color: #EAAA67;
        height: 40%;
        h3{
            color: #fff
        }
    } 
}



.icon-bg-l{
    width: 18rem;
    height:18rem;
    background-color: #fff;
    padding: 3rem;
    border-radius: 8rem .8rem 8rem .8rem;
    .icon-bg-s{
        width: 7rem;
        height: 7rem;
        border-radius: 3.5rem .35rem 3.5rem .35rem;     
    }
    .red{
        background-color: rgba(211, 86, 86, 0.2);
    }
    .blue{
        background-color: rgba(54, 141, 240, 0.2);
    }
    .green{
        background-color: rgba(133, 231, 120, 0.2);
    }
}

.rel{
        height: 10rem;
        background-color: #EAAA67;
        color: #fff;
        border-radius: 2.5rem .7rem 2.5rem .7rem;
        top: 5rem;
    }
    
footer{
    
    color: #EAAA67;
    a{
        color: #EAAA67;

        &:hover{
            color: #FBBB78;
        }
        &:visited{
            color: #EAAA67;
        }
    }
}
